<?php
/**
 * settings.local.ini.php
 * 
 * Defines local initialization settings for mastodon, overriding default settings found in
 * settings.ini.php
 */

global $SETTINGS;

// whether or not to run the application in development mode
$SETTINGS['general']['development_mode'] = false;

// the file path to the framework and application
$SETTINGS['path']['CENOZO'] = '/path/to/cenozo';
$SETTINGS['path']['APPLICATION'] = '/path/to/mastodon';

// the path to the log file
$SETTINGS['path']['LOG_FILE'] = $SETTINGS['path']['APPLICATION'].'/log';

// database settings (the driver, server and prefixes are set in the framework's settings)
$SETTINGS['db']['username'] = 'put your database username here';
$SETTINGS['db']['password'] = 'put your database password here';

// the location of new forms which need to be processed
$SETTINGS['path']['FORM_IN'] = $SETTINGS['path']['APPLICATION'].'/doc/form_in';

// the location of new forms which have been processed but not transferred to form system yet
$SETTINGS['path']['FORM_OUT'] = $SETTINGS['path']['APPLICATION'].'/doc/form_out';

