<div class="utility-view rounded">
  <div class="container-fluid bg-primary rounded-top">
    <h4>
      <i class="glyphicon glyphicon-refresh glyph-hover rounded pull-right btn-primary"
         ng-if="!model.isLoading"
         ng-click="model.onLoad()"
         tooltip="Click to refresh data"
         tooltip-placement="left"></i>
      Adjudication for Consent Form #{{ model.consentForm.id }}
      <span ng-if="model.isLoading">(Loading&hellip;)</span>
    </h4>
  </div>
  <div class="container-fluid">
    <div ng-if="model.isLoading" class="loading"></div>
    <div ng-if="!model.isLoading">
      <table class="table rounded table-hover">
        <thead>
          <tr>
            <th></th>
            <th class="text-center" ng-repeat="entry in model.consentFormEntryList">{{ entry.username }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-right"><strong>UID</strong></td>
            <td ng-repeat="entry in model.consentFormEntryList">{{ entry.uid }}</td>
          </tr>
          <tr>
            <td class="text-right"><strong>Option #1</strong></td>
            <td ng-repeat="entry in model.consentFormEntryList">{{ entry.option_1 }}</td>
          </tr>
          <tr>
            <td class="text-right"><strong>Option #2</strong></td>
            <td ng-repeat="entry in model.consentFormEntryList">{{ entry.option_2 }}</td>
          </tr>
          <tr>
            <td class="text-right"><strong>Signed</strong></td>
            <td ng-repeat="entry in model.consentFormEntryList">{{ entry.signed }}</td>
          </tr>
          <tr>
            <td class="text-right"><strong>Date</strong></td>
            <td ng-repeat="entry in model.consentFormEntryList">{{ entry.date }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td ng-repeat="entry in model.consentFormEntryList">
              <div class="btn-group">
                <button class="btn btn-default"
                        type="button"
                        ng-click="">Defer</button>
                <button class="btn btn-default"
                        type="button"
                        ng-click="">Validate</button>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
