<div class="utility-view rounded">
  <div class="container-fluid bg-primary rounded-top">
    <h4>
      <div class="pull-right">
        <i class="glyphicon glyphicon-question-sign glyph-hover btn-primary btn-header"
           ng-class="{'glyph-disabled':!model.parentModel.module.hasNotation()}"
           ng-if="model.parentModel.isRole('administrator') || model.parentModel.module.hasNotation()"
           uib-tooltip="Click to view documentation"
           tooltip-placement="left"
           ng-click="model.parentModel.showNotation(); $event.stopPropagation()"></i>
      </div>
      Participant Management For {{ model.application.title }}
    </h4>
  </div>
  <div class="container-fluid">
    <div class="spacer">
      <p class="text-info" style="margin-top: 1em;">
        This utility allows you to release a batch of participants to, or update their preferred site for
        {{ model.application.title }}.  In order to do either you must first select which participants to affect.
        This can be done typing the unique identifiers (eg: A123456) of all participants you wish to have
        included in the operation, then confirm that list to ensure each of the identifiers can be linked
        to a participant.
      </p>
      <p class="text-info">
        Once you have confirmed the list of participant identifiers you will be presented with a summary
        of how many participants belong to which sites, broken down by cohort.
      </p>
      <p class="text-warning">
        Note: only participants with the correct cohort and who have not already been released will be allowed.
        If you wish to update the preferred site for participants who have already been released you must use
        that application's <em>participant multi-edit</em> utility instead.
      </p>
      <hr />
      <cn-participant-selection model="model.participantSelection"></cn-participant-selection>
      <div ng-if="model.participantSelection.confirmedCount">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Confirm selection</strong>
          </div>
          <div class="container-fluid panel-body">
            <div class="form-horizontal">
              <div ng-repeat="(cohort,siteList) in model.cohortSiteList">
                <h4 class="text-center">{{ cohort }}</h4>
                <div class="row" ng-repeat="(site,total) in siteList">
                  <label class="col-sm-6 control-label">{{ site }}</label>
                  <div class="col-sm-6 form-text">{{ total }}</div>
                </div>
                <hr ng-if="!$last" />
              </div>
            </div>
          </div>
          <div class="form-footer text-right rounded-bottom bg-info no-line-height">
            <div class="form-inline pull-left">
              <label for="preferredSite" ng-class="pull-left">Preferred Site:</label>
              <select id="preferredSite"
                      ng-model="model.preferredSiteId"
                      ng-options="item.id as item.name for item in model.applicationSiteList"
                      class="form-control">
              </select>
            </div>
            <button type="button"
                    class="btn btn-primary"
                    cn-really-message="Are you sure you wish to release {{ model.participantSelection.confirmedCount }} participants to {{ model.application.title }}? This cannot be undone."
                    cn-really-click="model.release()"
                    ng-click="$event.stopPropagation()">Release Participants</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
