<div class="utility-view rounded">
  <div class="container-fluid bg-primary rounded-top">
    <h4>Participant Management For {{ model.application.title }}</h4>
  </div>
  <div class="container-fluid">
    <div class="spacer">
      <p class="text-info" style="margin-top: 1em;">
        This utility allows you to release a batch of participants to, or update their preferred site for
        {{ model.application.title }}.  In order to do either you must first select which participants to affect.
        This can be done typing the unique identifiers (eg: A123456) of all participants you wish to have
        included in the operation, then confirm that list to ensure each of the identifiers can be linked
        to a participant.
      </p>
      <p class="text-info">
        Once you have confirmed the list of participant identifiers you will be presented with a summary
        of how many participants belong to which sites, broken down by cohort.
      </p>
      <p class="text-warning">
        Note: only participants with the correct cohort and who have not already been released will be allowed.
        If you wish to update the preferred site for participants who have already been released you must use
        that application's <em>participant multi-edit</em> utility instead.
      </p>
      <hr />
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>Participant selection</strong>
          <span class="pull-right">
            <span ng-if="model.confirmInProgress">working, please wait...</span>
            <span ng-if="!model.confirmInProgress">
              {{ model.confirmedCount ?
                 model.confirmedCount + ' participants confirmed' :
                 'no confirmed participants' }}
              <i class="glyphicon" ng-class="model.confirmedCount ? 'glyphicon-ok' : 'glyphicon-remove'"></i>
            </span>
          </span>
        </div>
        <textarea id="uidListString"
                  name="uidListString"
                  cn-elastic
                  ng-change="model.uidListStringChanged()"
                  ng-model="model.uidListString"
                  ng-disabled="model.confirmInProgress"
                  class="form-control no-rounding"></textarea>
        <div class="form-footer text-right rounded-bottom bg-info">
          <button type="button"
                  class="btn btn-primary"
                  ng-disabled="null == model.application ||
                               null != model.confirmedCount ||
                               model.confirmInProgress"
                  ng-click="confirm()">Confirm List</button>
        </div>
      </div>
      <div ng-if="model.confirmedCount">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Confirm selection</strong>
          </div>
          <div class="container-fluid panel-body">
            <div class="form-horizontal">
              <div ng-repeat="(cohort,siteList) in model.cohortSiteList">
                <h4 class="text-center">{{ cohort }}</h4>
                <div class="row" ng-repeat="(site,total) in siteList">
                  <label class="col-sm-6 control-label">{{ site }}</label>
                  <div class="col-sm-6 form-text">{{ total }}</div>
                </div>
                <hr ng-if="!$last" />
              </div>
            </div>
          </div>
          <div class="form-footer text-right rounded-bottom bg-info">
            <div class="dropup pull-left">
              <button class="btn btn-default dropdown-toggle"
                      type="button"
                      id="applicationSiteList"
                      data-toggle="dropdown">
                Set Preferred Site <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="applicationSiteList">
                 <li ng-repeat="site in model.applicationSiteList">
                   <a href="#"
                      cn-really-message="Are you sure you wish to set the preferred site of {{ model.confirmedCount }} participants for {{ model.application.title }} to {{ site.name }}?"
                      cn-really-click="model.setPreferredSite( site.id )"
                      ng-click="$event.stopPropagation()">{{ site.name }}</a>
                 </li>
              </ul>
            </div>
            <button type="button"
                    class="btn btn-primary"
                    cn-really-message="Are you sure you wish to release {{ model.confirmedCount }} participants to {{ model.application.title }}? This cannot be undone."
                    cn-really-click="model.release()"
                    ng-click="$event.stopPropagation()">Release Participants</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
