<div class="utility-view rounded">
  <div class="container-fluid bg-primary rounded-top">
    <h4>
      <i class="glyphicon glyphicon-refresh glyph-hover rounded pull-right btn-primary"
         ng-if="!model.isLoading"
         ng-click="model.onLoad()"
         tooltip="Click to refresh data"
         tooltip-placement="left"></i>
      Application Access
      <span ng-if="model.isLoading">(Loading&hellip;)</span>
    </h4>
  </div>
  <div class="container-fluid">
    <div class="spacer">
      <p class="text-info" style="margin-top: 1em;">
        Use the following dialog to set the participant's preferred site for each of the application.
        You may also release the participant to an application.
        <span class="text-warning">
          Warning: once a participant has been released they cannot be unreleased.
        </span>
      </p>
      <hr />
      <div ng-if="model.isLoading" class="loading"></div>
      <div ng-if="!model.isLoading" class="panel panel-default" ng-repeat="application in model.applicationList">
        <div class="panel-heading">
          <strong>
            {{ application.title }}
            {{ application.release_based ? '' : '(not release-based)' }}
          </strong>
        </div>
        <div class="container-fluid panel-body">
          <div class="form-horizontal">
            <div class="form-body">
              <div class="row" ng-if="application.release_based">
                <label class="col-sm-4 control-label">Released</label>
                <div ng-if="application.datetime" class="col-sm-8 form-text">
                  {{ application.datetime|cnDatetime:'datetime' }}
                </div>
                <div ng-if="null == application.datetime" class="col-sm-8">
                  <button type="button"
                          class="btn btn-warning"
                          ng-click="model.releaseParticipant( application )">Release Now</button>
                </div>
              </div>
              <div class="row">
                <label class="col-sm-4 control-label">Default Site</label>
                <div class="col-sm-8 form-text">
                  {{ application.default_site_id
                     ? application.siteList.findByProperty( 'id', application.default_site_id ).name
                     : 'Not assigned to a site' }}
                </div>
              </div>
              <div class="row" style="padding-top: 7px">
                <label class="col-sm-4 control-label">Preferred Site</label>
                <div class="col-sm-8">
                  <select ng-model="application.preferred_site_id"
                          ng-options="site.id as site.name for site in application.siteList"
                          ng-change="model.setPreferredSite( application )"
                          class="form-control"></select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-footer text-right rounded-bottom bg-info">
    <button type="button" class="btn btn-primary" ng-click="viewParticipant()">View Participant</button>
  </div>
</div>
