{##
 # application_participant_release.twig
 # 
 # Form to release participants with other applications.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see widget.twig for parameters
 #}
{% extends "base_participant_multi.twig" %}

{% block description %}

  <p>
    Provide a list of participants which you wish to release to another application.
    Clicking the "update" button will display a summary of changes to be performed
    which should be carefully reviewed before proceeding with the release.
    You may restrict the operation based on the date that participants were imported
    into the system.
    UIDs must be separated by a comma or space and may be qualified by single
    or double quotes (ie: A123456 B123456 C123456).
  </p>
  <p>
    Alternatively, provide a CSV file where the first column is a list of UIDs
    which you wish to affect.
  </p>
{% endblock description %}
